@charset "utf-8";

body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
}
h1 {
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
}
img {
  width: 800px;
}
p {
  font-size: 16px;
  line-height: 1.6;
}
em {
  color: #ff0000;
  font-size: 120%;
  font-weight: bold;
}
a:link {
  color: #ff0000;
}
a:visited {
  color: #0000ff;
}
a:hover {
  color: #008000;
}
a:active {
  color: #8b4513;
}
#contact {
  font-size: 14px;
  text-align: right;
}
address {
  font-size: 14px;
  text-align: right;
  font-style: normal;
}
#copy {
  font-size: 12px;
  text-align: center;
}