@charset "utf-8";

table {
	border: solid 1px #666666;
	border-collapse: collapse;
	background-color: #f2f2f2;
}

th,
td {
	padding: 10px;
           /*上 右    下   左 */
	/*padding: 10px 20px 10px 20px;*/
        /* 上下　右左*/
	/*padding: 20px 30px;*/
        /* 上   右左 下 */
	/*padding: 10px 20px 30px;*/
	border: solid 1px #666666;
}
th {
	text-align: left;
	vertical-align: top;
	background-color: #dddddd;
}
