@charset "utf-8";
.container {
  /* display: flex;
  flex-wrap: wrap;
  width: 100%; */
  padding: 10px;
  background-color: beige;
}

.photo {
  float: left;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}