@charset "utf-8";

strong {
  /* display: none; */
}
ul {
  display: table;
}
li {
  /* display: inline; */
  /* display: inline-block; */
  display: table-cell;
  border: 1px solid #DDDDDD;
  padding: 5px;
}