@charset "utf-8";
body {
    margin: 0;
    background-color: codetblue;
}

div {
    width: 440px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
}

h1 {
    font-size: 22px;
    text-align: center;
}

.button02 {
    padding: 10px 20px;
    background-image: linear-gradient(to bottom, #CCC, #FFF, #CCC, #FFF);
    border: 1px solid #000;
    border-bottom-width: 3px;
    font-size: 14px;
}

.button03 {
    cursor: pointer;
}

.button04,
.button05 {
    padding: 10px 20px;
    background-color: #CCC;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.button04:hover {
    opacity: 0.6;
}

.button05:hover {
    background-color: rgba(204, 204, 204, 0.6);
}

.box {
    width: 100px;
    height: 100px;
    padding: 0;
    background-color: tomato;
    border-radius: 50px;
}


/* .container {
  width: 800px;
  margin: 30px auto;
  padding: 50px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
textarea {
  width: 700px;
  height: 500px;
}
p {
    margin: 0;
    font-size: 14px;
}
input[type="text"],
textarea {
  padding: 7px;
  border: 1px solid #666;
  background-color: #EEE;
  font-size: 14px;
} */